div {
    width:100px;
    height:100px;
    margin: 10px;
    background-color: cyan;
    display: inline-block;
}

#middle {
    background-color: #1d3557;
}

#static #middle {
    position: static;
    top:100px;
}

#relative #middle {
    position: relative;
    top:100px;
    left: 50px;
}

#absolute {
    position: relative;
}

#absolute #middle {
    position: absolute;
    top:0;
    left:0;
}

#sticky #first {
    position: -webkit-sticky;
    position: sticky;
    top:20px;
}

#sticky #middle {
    /* position: -webkit-sticky;
    position: sticky; */
    position: relative;
    left: 50%;
    right: 50%;
}

#sticky #last {
    position: -webkit-sticky;
    position: sticky;
    top:20px;
    left:100%;
}